.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 320px;
}

.countryInfo p {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
