.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 320px;
}

.countryInfo h1 {
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
